@import "../../mixins";

.container {
  background: #131214;
  padding: 3em 0;
}
.content {
  width: 88%;
  margin: 1em auto;
}
.footerTxt {
  @include flexRegular(row, space-between);
}
.links,
.logoBx,
.socials {
  @include flexRegular(row, flex-start);
}
.links {
  a {
    font-family: "Inter";
    color: #ffffffcf;
    &:nth-child(2) {
      margin: 0 2em;
    }
  }
}

.logoBx {
  p {
    font-family: "Inter";
    font-size: 2.75em;
    margin-left: 0.8em;
  }
}
.social {
  img {
    //border: 1px solid #fff;
  }
}
.disc {
  padding: 4px;
  width: 44px;
  height: 44px;
}

.copyright {
  margin-top: 3.1em;
  color: #cbcbcbd0;
  font-size: 0.89em;
}

@media (max-width: 1024px) {
  .content {
    width: 98%;
  }
}
@media (max-width: 820px) {
  .container {
    @include flexRegular(column, center);
  }
  .footerTxt {
    @include flexRegular(column, center);
  }
  .links,
  .logoBx {
    margin-bottom: 3em;
  }
  .logoBx {
    p {
      font-size: 2.1em;
    }
  }

  .copyright {
    text-align: center;
    width: 100%;
  }
}
