@import "../mixins";

// hero
.hero {
  padding-top: 10em;
  @include flexRegular(column, center);
}
.heroTxt {
  text-align: center;
  h1 {
    font-size: 8em;
    border: 0;
    //font-size: 128px;
    font-family: "Inter";
    font-weight: 900;
    color: #b8b8b8;
  }
  p {
    background: linear-gradient(
      90deg,
      #21eea3 0%,
      #21e6aa 6%,
      #23d1be 16%,
      #25afdd 28%,
      #278aff 39%,
      #4576fd 54%,
      #9044f9 86%,
      #b42cf7 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    // border: 1px solid #fff;
    width: 80%;
    margin: auto;
    font-size: 1.5em;
  }
}
.heroImg {
  @include flexRegular(column, center);
  img {
    margin-top: -100px;
    //border: 1px solid #fff;
    width: 93%;
    max-width: 1360px;
  }
}
.heroDesc {
  width: 75%;
  margin: 4em auto -5em auto;
  text-align: center;
  p {
    font-weight: normal;
    color: #b8b8b8d0;
    font-size: 1.48em;
  }
}
@media (max-width: 820px) {
  .hero {
    h1 {
      // line-height: 30px;
      font-size: 6.9em;
    }
  }
  .heroImg {
    img {
      margin-top: 0.5em;
    }
  }
  .heroDesc {
    width: 80%;
  }
}
@media (max-width: 430px) {
  .hero {
    padding-top: 6em;
    h1 {
      font-size: 4em;
      //border: 1px solid #fff;
      line-height: 80px;
    }
    p {
      margin: 2em auto;
      width: 85%;
    }
  }
  .heroImg {
    img {
      margin-top: -10px;
      width: 100%;
      transform: scale(1.4);
    }
  }
  .heroDesc {
    margin: 4em auto -1em auto;
    width: 95%;
    //border: 1px solid #fff;
    p {
      font-size: 1.28em;
      width: 100%;
    }
  }
}

// design div
.design {
  //border: 1px solid #fff;
  background: #1f1f1f;
  @include flexRegular(row, flex-start);
  position: relative;
  //padding: 3em 0;
}
.designImg {
  //position: absolute;
  img {
    width: 100%;
    //width: 1320px;
    transform: scale(1.35);
    max-width: 600px;
  }
  width: 45%;
  //border: 1px solid #fff;
}
.designTxt {
  width: 65%;
  padding: 3.8em 0;
  //margin-left: 40%;
  margin-left: -1.5%;
  h2 {
    font-size: 3.8em;
    //font-size: 55px;
    font-family: "Inter";
    font-weight: 600;
    width: 80%;
  }
  p {
    font-size: 1.5em;
    width: 80%;
    color: #ffffffbd;
  }
}
@media (min-width: 1450px) {
  .designImg {
    //border: 1px solid #fff;
    img {
      transform: scale(1.2);
    }
  }
  .designTxt {
    padding: 6.7em 0;
    margin-left: -8%;
    h2 {
      font-size: 3.4em;
    }
    p {
      width: 65%;
    }
  }
}
@media (max-width: 820px) {
  .design {
    @include flexRegular(column, center);
    padding: 2.5em 0;
  }
  .designImg {
    position: relative;
    width: 100%;
    img {
      // transform: rotate(30deg);
      transform: scale(1.2);
    }
  }
  .designTxt {
    margin-left: 0;
    margin-top: 1em;
    width: 100%;
    padding-left: 1.5em;
    //border: 1px solid #fff;
    h2 {
      width: 95%;
    }
    p {
      width: 95%;
    }
  }
}
@media (max-width: 440px) {
  .design {
    padding: 4em 0;
  }
  .designTxt {
    h2 {
      font-size: 2.5em;
    }
    p {
      margin-top: 0.7em;
      font-size: 1.3em;
    }
  }
}

//needs div
.needs {
  background: #000;
}
.needsContent {
  @include flexRegular(column, center);
  padding: 4em 0;
  width: 95%;
  margin: auto;
  h2 {
    font-size: 3.6em;
    font-family: "Inter";
    font-weight: 600;
    text-align: center;
    span {
      background: linear-gradient(
        90deg,
        #21eea3 0%,
        #21e6aa 6%,
        #23d1be 16%,
        #25afdd 28%,
        #278aff 39%,
        #4576fd 54%,
        #9044f9 86%,
        #b42cf7 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;

      margin: 1em auto;
    }
  }
}
.needsImgs {
  @include flexRegular(row, flex-start);
  position: relative;
  margin: 2em 0 3.5em 0;
}
.needsIcons1 {
  position: absolute;
  left: -11em;
  img {
    //border: 1px solid #fff;
    width: 100%;
    height: 100%;
    // max-width: 457px;
    // max-height: 604px;
  }
}
.needsImg {
  //z-index: 1;
  img {
    width: 100%;
    max-width: 900px;
    margin-top: 1em;
    //border: 1px solid #fff;
  }
}
.needsIcons2 {
  position: absolute;
  right: -13em;
  bottom: -3em;
  img {
    width: 100%;
    height: 100%;
    // max-width: 244px;
    // max-height: 619px;
    //border: 1px solid #fff;
  }
}
@media (min-width: 1450px) {
  .needsIcons1,
  .needsIcons2 {
    img {
      width: 60%;
    }
  }
  .needsIcons2 {
    right: -7em;
    bottom: -2em;
    @include flexRegular(row, flex-end);
  }
}
@media (max-width: 1024px) {
  .needsImgs {
    margin-bottom: 6em;
  }
  .needsIcons1 {
    left: -2em;
    img {
      width: 80%;
    }
  }
  .needsImg {
    img {
      width: 70%;
      margin: auto;
    }
  }
  .needsIcons2 {
    right: -8em;

    img {
      width: 80%;
    }
  }
}
@media (max-width: 440px) {
  .needsContent {
    h2 {
      font-size: 2.5em;
    }
    p {
      margin-top: 0.7em;
      font-size: 1.3em;
    }
  }
  .needsImg {
    margin: 3em 0;
    img {
      transform: scale(1.15);
    }
  }
  .needsIcons1 {
    //border: 1px solid #fff;
    left: 0;
    z-index: 1;
    img {
      width: 40%;
    }
  }
  .needsIcons2 {
    @include flexRegular(row, flex-end);
    //border: 1px solid #fff;
    width: fit-content;
    right: 0;
    bottom: 2em;
    img {
      width: 40%;
    }
  }
}

//explore div
.exploreContent {
  @include flexRegular(column, center);
  padding: 4em 0;
  width: 95%;
  margin: auto;
  h2 {
    font-size: 3.6em;
    font-family: "Inter";
    font-weight: 600;
    text-align: center;
  }
  img {
    width: 100%;
    max-width: 1300px;
    margin-top: -9em;
  }
}
@media (max-width: 820px) {
  .exploreContent {
    img {
      margin-top: -3em;
    }
  }
}
@media (max-width: 480px) {
  .exploreContent {
    h2 {
      font-size: 2.5em;
      //margin-bottom: 3em;
    }
    img {
      width: 100vw;
      max-width: 2000px;
      transform: scale(1.05);
    }
  }
}

//specs div
.specsContent {
  padding: 2em 0;
  width: 95%;
  margin: auto;
  position: relative;
  // @include flexRegular(column, center);
  .specTitle {
    width: 88%;
    max-width: 1200px;
    margin: auto;
  }
  h2 {
    // margin-left: 5%;
    text-align: center;
    font-size: 3.6em;
    font-family: "Inter";
    font-weight: 600;
    background: linear-gradient(
      120deg,
      #21eea3 0%,

      #23d1be 16%,

      #278aff 39%,
      #4576fd 54%,

      #b42cf7 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    margin: 1em auto;
    width: 100%;
  }
}
.specImg {
  @include flexRegular(column, center);
  position: relative;
  min-height: 500px;

  img {
    position: absolute;
    //margin-top: -20em;
    width: 100%;
    max-width: 1290px;
  }
}
.ellipse {
  position: absolute;
  top: 1em;
}
.specRows {
  width: 88%;
  margin: 6em auto 2em auto;
}
.specRowA {
  @include gridRegular(1.5%);
  grid-template-columns: repeat(4, 23.5%);
  justify-content: center;
  margin: 3em 0 0.3em 0;
  z-index: 1;
}
.specRowB {
  @include gridRegular(1.5%);
  justify-content: center;
  margin: 1em 0 2em 0;
  grid-template-columns: 36% 24% 36%;
}
.specA {
  position: relative;
  padding: 1.6em 0 5.5em 0;
  border-radius: 16px;
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(to left, #616e9f8a, #ffffff5c, #0504046f) border-box,
    linear-gradient(to top, #ffffff77, #0938df, #0000001c) border-box;
  background-image: linear-gradient(rgb(30, 30, 30), rgb(30, 30, 30)),
    linear-gradient(
      to left,
      rgba(97, 110, 159, 0.54),
      rgba(255, 255, 255, 0.308),
      rgba(5, 4, 4, 0.435)
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.401),
      rgb(9, 56, 223),
      rgba(0, 0, 0, 0.11)
    );
  border: 1px solid #ffffff1a;
  @include flexRegular(column, center);
  p {
    margin-top: 1em;
  }
  span {
    color: #ababab;
  }
}
.specTxt {
  text-align: center;
  position: absolute;
  bottom: 1.4em;
}
@media (max-width: 820px) {
  .specRows {
    width: 95%;
    margin: 3em auto 2em auto;
  }

  .specRowA,
  .specRowB {
    @include gridRegular(0%);
    grid-template-columns: repeat(1, 95%);
  }
  .specA {
    margin: 2em 0;
  }
}
@media (max-width: 480px) {
  .specsContent {
    h2 {
      font-size: 2.5em;
    }
  }
  .specImg {
    min-height: 250px;
    img {
      max-width: 1390px;
      transform: scale(1.4);
    }
  }
}

//future div
.future {
  // background: #1f1f1f;
  background: #000;
  padding: 1.5em 0;
}
.futureContent {
  @include flexRegular(row, space-between);
  position: relative;
}
.fImg {
  img {
    width: 100%;
    //max-width: 1190px;
  }
}
.fBtn {
  position: absolute;
  right: 2em;
  ///bottom: 8em;
  button {
    margin: 1em 0;
    @include btnRegular(10vw);
    min-width: 170px;
    max-width: 300px;
  }
}
.fTxt {
  margin: 1.5em 0;
  padding-right: 1em;
  text-align: center;
  h2 {
    font-size: 3.6em;
    font-family: "Inter";
    font-weight: 600;
  }
  button {
    margin: 1em 0;
    @include btnRegular(12vw);
    min-width: 200px;
    max-width: 300px;
  }
}
@media (max-width: 1080px) {
  .futureContent {
    @include flexRegular(column, center);
    position: relative;
  }
  .fBtn {
    position: relative;
    right: 0;
  }
}
@media (max-width: 480px) {
  .fTxt {
    h2 {
      font-size: 2.5em;
    }
  }
}

//subscribe div
.subscribe {
  padding: 2em 0 1em 0;
  position: relative;
}
.subLines {
  position: absolute;
  z-index: -1;
  img {
    width: 100%;
    max-width: 2942px;
  }
}
.subscribeContent {
  z-index: 2;
  @include flexRegular(column, center);
  h2 {
    margin-top: 1em;
    font-size: 3.2em;
    font-family: "Inter";
    font-weight: 600;
    width: 80%;
    text-align: center;
  }
}
.subscribeBx {
  position: absolute;
  bottom: 6.5em;
  width: 100%;

  input {
    border-radius: 13px;
    //
    border: 1.5px solid #fff;
    background: #ffffff19;
    backdrop-filter: blur(10px);
    height: 76px;
    width: 83%;
    outline: none;
    padding-left: 2.8em;
  }
  button {
    @include btnRegular(15%);
    height: 76px;
    // min-width: 100px;
    // max-width: 200px;
  }
}
.subscribeFields {
  width: 68%;
  position: relative;
  margin: auto;
  //border: 1px solid #fff;
  @include flexRegular(row, space-between);
  img {
    position: absolute;
    z-index: 2;
    left: 0.9em;
  }
}
.subscribeImg {
  img {
    width: 100%;
  }
}
@media (max-width: 820px) {
  .subscribeContent {
    h2 {
      width: 95%;
    }
  }
}
@media (max-width: 480px) {
  .subscribe {
    margin-top: 0;
  }
  .subscribeContent {
    h2 {
      margin-top: -14px;
      font-size: 1.3em;
      width: 100%;
      margin-bottom: 2em;
    }
  }
  .subLines {
    img {
      transform: scale(1.19);
    }
  }
  .subscribeBx {
    input {
      width: 95%;
      height: 56px;
    }
    button {
      margin-top: 1em;
      @include btnRegular(50%);
    }
    bottom: 2.1em;
  }
  .subscribeFields {
    width: 95%;
    @include flexRegular(column, center);
    img {
      top: 1em;
      left: 1.2em;
    }
  }
  .subscribeImg {
    img {
      width: 100%;
      transform: scale(1.2);
    }
  }
}

@media (min-width: 1450px) {
  .subscribeFields {
    width: 55%;
    //border: 1px solid #fff;
  }
  .subscribeBx {
    bottom: 15%;
  }
}
