@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Inter";
  /* font-display: swap; */
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  /* overflow-y: scroll; */
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  color: #fff;
  background: #070707;
}

button {
  cursor: pointer;
  /* font-family: Satoshi-Med, sans-serif; */
  white-space: nowrap;
  color: inherit;
}

button:disabled {
  cursor: not-allowed;
  /* filter: blur(1.5px); */

  pointer-events: none;
  transition: 0.2s ease-in;
}

.disabled {
  cursor: not-allowed;
  filter: blur(1.5px);
  pointer-events: none;
  transition: 0.2s ease-in;
}

input,
select,
textarea {
  font-size: 100%;
  box-sizing: border-box;
}

.pdfBox {
  /* transform: scale(0.5); */
  /* padding: 1em; */
  margin-top: 2em;
  /* width: 100%;
  max-width: 100vw !important; */
  /* border: 4px solid red; */
  background: #9044f9;
  padding: 5px 0;
  background-color: #dedede;
  background-color: #371863;
  background-color: #000;
  margin-top: 50px;
}
.pdfBoxRes {
  display: none;
}
.pdfBox p {
  margin-top: 5em;
}

.pdfBox canvas {
  overflow: scroll !important;
  width: 100% !important;
  /* transform: scale(0.6); */
}

.react-pdf__Page {
  /* border: 4px solid red !important; */
  width: 100%;
  /* transform: scale(0.8); */
}

canvas.react-pdf__Page__canvas {
  margin-bottom: 50px;
}

.pdfDoc {
  width: 100%;
  /* height: 50% !important; */
}

@media (max-width: 480px) {
  /* .pdfDoc {
    transform: scale(1) !important;
    height: 100vh !important;
  } */
  .pdfBox {
    display: none;
  }
  .pdfBoxRes {
    display: block;
    margin-top: 4em;
  }
}
