@import "../../mixins";

.container {
  position: fixed;
  width: 100%;
  padding: 1em auto;
  //border: 1px solid #fff;
  z-index: 3;
  background: #00000098;
  backdrop-filter: blur(5px);
}
.containerMobile,
.hamBox {
  display: none;
}
.content {
  //border: 1px solid #fff;
  width: 90%;
  margin: 2em auto;
  @include flexRegular(row, space-between);
}
.logoBx {
  img {
    width: 100%;
  }
}

.links {
  //border: 1px solid #fff;
  @include flexRegular(row, flex-start);
  width: 58%;
  font-weight: 300;
  transition: 0.3s ease-in;
  a {
    margin-right: 4em;
    &:nth-child(1) {
      font-weight: 500;
      color: #dbd4ff;
    }
    &:hover {
      color: #dbd4ff;
    }
  }
}
.btn {
  //border: 1px solid #fff;
  button {
    @include btnRegular(12vw);
    min-width: 200px;
    max-width: 300px;
  }
}

.menu {
  //border: 1px solid #fff;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  //padding: 1em 0;
  //top: 0px;
  top: 4em;
  left: -100vw;
  width: 100%;
  //height: 50%;
  z-index: 1;
  overflow: auto !important;
}
.menuContent {
  width: 90%;
  //background: lavender;
  @include flexRegular(column, flex-start);
  align-items: center;
  margin: 2em auto 1em auto;
  font-size: 1.2em;
  padding: 0;
}
.menuLinks {
  text-align: center;
  a,
  p {
    margin-bottom: 1em;
  }
}

@media (max-width: 1200px) {
  .logoBx {
    margin-right: 5em;
  }
}
@media (max-width: 1080px) {
  .content {
    width: 98%;
  }
}
@media (max-width: 820px) {
  .logoBx {
    //border: 1px solid #fff;
    width: 30%;
    margin-right: 0;
    margin-left: 1em;
  }
  .content {
    width: 90%;
  }
  .links {
    display: none;
  }
  .hamBox {
    // margin-left: 1em;
    display: block;
  }
  .btn {
    //border: 1px solid #fff;
    width: 70%;
    @include flexRegular(row, flex-end);
  }
}
@media (max-width: 435px) {
  .content {
    margin: 0.6em auto;
    width: 96%;
    //border: 1px solid #fff;
  }
  .logoBx {
    margin-left: 5px;
    img {
      min-width: 140px;
    }
  }

  .btn {
    margin-right: -15px;
    width: 55%;
    button {
      @include btnRegular(25vw);
      min-width: 130px;
      max-width: 150px;
      height: 43px;
    }
  }
}
